body {
    background-color:#AEB6BF;font-size:15px;font-family:Consolas;color:#FFFFF;font-weight:normal;margin-left:5.72%;margin-right:5.72%;
}

.light {
    background-color:#AEB6BF;font-size:15px;font-family:Consolas;color:#FFFFF;font-weight:normal;margin-left:5.72%;margin-right:5.72%;
}

.dark {
    background-color:#212F3D;font-size:15px;font-family:Consolas;color:#FFFFFF;font-weight:normal;margin-left:5.72%;margin-right:5.72%;
}