* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  /* this is what we need to do but when we use the slider */
  /* filter: brightness(20%); */
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url('https://images.pexels.com/photos/4827/nature-forest-trees-fog.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940') no-repeat center;
  background-size: cover;
}
.slider {
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  width: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
}
span {
  /* 0px for top & bottom and 30px for left and right :) Ez till now :) */
  margin: 0px 30px;
}
#range {
  -webkit-appearance: none;
  outline: none;
  width: 100%;
  height: 3px;
  background: #373737;
}
#range::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  /* you can use any color of your choice */
  background: #ff4566;
  border-radius: 50%;
  box-shadow: 2px 4px 10px rgba(0,0,0,0.05);
  cursor: pointer;
}
